#page-landing {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  text-align: center;
  min-height: 100vh;
  display: flex;
}

#container {
  margin: auto;
}

.location,
h1,
.visit p {
  height: 16vh;
}

.visit a {
  width: 8rem;
  height: 8rem;
  background-color: #ffd666;
  border: none;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: background 0.2s;
}

#logo {
  animation-delay: 0.05s;
}

.location {
  animation-delay: 0.1s;
}

.main h1 {
  animation-delay: 0.15s;
}

.visit p {
  animation-delay: 0.2s;
}
.visit a {
  animation-delay: 0.25s;
}

.visit a:hover {
  background: #96feff;
}
